//Responsive font size
@import "~rfs/scss";

@font-face {
    font-family: 'Bogart';
    src: url('../fonts/Bogart/BOGARTBOLDTRIAL.TTF');
    src: url('../fonts/Bogart/BOGARTBOLDTRIAL.TTF') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bogart';
    src: url('../fonts/Bogart/BOGARTMEDIUMTRIAL.TTF');
    src: url('../fonts/Bogart/BOGARTMEDIUMTRIAL.TTF') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bogart';
    src: url('../fonts/Bogart/BOGARTREGULARTRIAL.TTF');
    src: url('../fonts/Bogart/BOGARTREGULARTRIAL.TTF') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bogart';
    src: url('../fonts/Bogart/BOGARTLIGHTTRIAL.TTF');
    src: url('../fonts/Bogart/BOGARTLIGHTTRIAL.TTF') format('truetype');
    font-weight: 300;
    font-style: normal;
}


$font-family-secondary: 'Bogart';


//Bootstrap enable responsive font-size
$enable-responsive-font-sizes: true;

$font-weight--extra-light   :   200;
$font-weight--light         :   300;
$font-weight--regular       :   400;
$font-weight--medium        :   500;
$font-weight--semibold      :   600;
$font-weight--bold          :   700;
$font-weight--extra-bold    :   800;
$font-weight--black         :   900;

// Font definitions.
$font-xxxx-large            :   70px;
$font-xxx-large             :   60px;
$font-xx-large              :   48px;
$font-x-large               :   40px;
$font-large                 :   38px;
$font-xx-big                :   26px;
$font-x-big                 :   22px;
$font-big                   :   20px;
$font-medium                :   18px;
$font-regular               :   16px;
$font-small                 :   14px;
$font-x-small               :   12px;
$font-xx-small              :   11px;
$font-xxx-small             :   10px;
$font-xxxx-small            :   9px;
