@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import "~bootstrap";
@import "./typography.scss";
//Bootstrap breakpoints mixins
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

body {
    font-family: "Poppins", sans-serif;
    background-color: #f8f9fe;
}

$text-blue: #182837;
$orange: #ff2e00;

.navbar {
    padding-top: 35px;

    &__brand {
        font-weight: 700;
        color: $text-blue;
        position: relative;
        text-decoration: none;
        @include font-size($font-big);

        &:hover {
            color: $text-blue;
        }

        &:after {
            content: "";
            position: absolute;
            right: -10px;
            bottom: 7px;
            width: 6px;
            height: 6px;
            background-color: $orange;
            border-radius: 100%;
        }
    }

    &__burguer {
        display: none;

        @include media-breakpoint-down(lg) {
            display: block;
        }
    }

    ul {
        display: flex;
        flex-direction: row;

        @include media-breakpoint-down(lg) {
            position: fixed;
            display: none;
            background-color: white;
            left: 0;
            top: 70px;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding: 15px;
            z-index: 1;
        }

        li {
            @include media-breakpoint-up(lg) {
                margin-left: 30px;

                &:not(:nth-child(1)) {
                    margin-left: 40px;
                }
            }

            a {
                @include font-size($font-big);
                color: $text-blue;

                @include media-breakpoint-down(lg) {
                    @include font-size($font-xxx-large);
                    font-weight: $font-weight--bold;
                    margin: 15px 0;
                }
            }
        }
    }
}


.works-section {
    background-color: $text-blue;
    padding: 100px 0;
    margin-bottom: 25px;
    position: relative;

    &__wave {
        position: absolute;
        top: -25px;
        width: 100%;
        overflow: hidden;
    }

    &__wave-down {
        position: absolute;
        bottom: -25px;
        transform: rotate(180deg);
        overflow: hidden;
        width: 100%;
    }

    &__card {
        @include media-breakpoint-down(lg) {
            margin-bottom: 30px;
        }

        h3 {
            font-weight: $font-weight--bold;
            @include font-size($font-x-big);
            color: #fff;
            margin-bottom: 10px;
        }

        header {
            margin-bottom: 25px;
        }

        h6 {
            color: #c4c4c4;
            font-weight: $font-weight--medium;
            @include font-size($font-big);
            margin-bottom: 15px;

            @include media-breakpoint-down(md) {
                @include font-size($font-small);
            }
        }

        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        span {
            background-color: #3f5c79;
            border-radius: 5px;
            padding: 8px 15px;
            color: #fff;
            margin-right: 20px;
            @include font-size($font-regular);

            @include media-breakpoint-down(sm) {
                @include font-size($font-small);
                margin-bottom: 10px;
            }
        }
    }
}

.move {
    position: absolute;
    left: 50%;
    transform: translateX(0%);
    animation: move 2s linear infinite;
}

@keyframes move {
    0% {
        transform: translate(0%, 0px);
        opacity: 1;
    }
    50% {
        transform: translate(0%, 10px);
        opacity: 1;
    }
    100% {
        transform: translate(0%, 15px);
        opacity: 0;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
