@import "./base/variables";
@import "./base/typography";
@import "./base/breakpoints";

.navbar {
    padding: 45px 0;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    max-width: 92vw;
    margin: 0 auto;

    @include media-breakpoint-down(sm) {
        padding: 20px 0;
        background-color: var(--background-color);
    }

    &__logo {
        display: flex;
        align-items: center;
        cursor: pointer;

        h1 {
            @include font-size($font-regular);
            font-weight: $font-weight--semibold;
            line-height: 30px;
            letter-spacing: 1px;
            font-family: $font-family-secondary;
            margin: 0;
            color: var(--main-text-color);
        }

        svg {
            width: 25px;
            height: 25px;
            fill: var(--main-text-color);
            margin-right: 8px;
        }

        @include media-breakpoint-down(sm) {
            @include font-size($font-small);
        }
    }
    
    &__theme {
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;

        img {
            width: 30px;
            height: 30px;
        }
    }

    > div {
        display: flex;
        justify-content: space-between;
    }

    a {
        text-decoration: none;
        color: var(--link-text-color);
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;

        @include media-breakpoint-down(lg) {
            margin: 0 15px 0 0;
            height: 26px;
        }

        li {
            list-style-type: none;
            display: flex;
            align-items: center;
            margin-left: 40px;

            @include media-breakpoint-down(lg) {
                margin-left: 0;
            }

            &:not(:last-of-type) {
                @include media-breakpoint-down(lg) {
                    display: none;
                }
            }
        }
    }
}