@import "./base/variables";
@import "./base/typography";
@import "./base/breakpoints";

.project {
    cursor: pointer;
    perspective: 500px;

    a {
        text-decoration: none;
    }

    @include media-breakpoint-down(xs) {
        margin-bottom: 30px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    h3 {
        @include font-size($font-medium);
        font-weight: $font-weight--bold;
        line-height: 30px;
        margin: 0;
        color: var(--main-text-color);
        font-family: $font-family-secondary;

        @include media-breakpoint-down(md) {
            @include font-size($font-regular);
        }
    }

    h4 {
        color: var(--company-name);
        line-height: 30px;
        font-family: $font-family-secondary;
        font-weight: $font-weight--bold;
        @include font-size($font-regular);
        margin: 0;

        @include media-breakpoint-down(md) {
            @include font-size($font-small)
        }
    }

    h6 {
        @include font-size($font-regular);
        font-weight: $font-weight--light;
        color: #A9ACBB;
        margin: 0;

        @include media-breakpoint-down(md) {
            @include font-size($font-small)
        }
    }

    p {
        margin-bottom: 0px;
        color: var(--main-text-color);
        @include font-size($font-regular);
        font-weight: $font-weight--light;

        @include media-breakpoint-down(md) {
            @include font-size($font-small)
        }
    }

    &__perspective {
        border-radius: 10px;
        overflow: hidden;
        display: block;
        margin-bottom: 15px;
    }

    &__image  {
        width: 100%;
        height: 540px;

        @include media-breakpoint-down(sm) {
            height: 350px;
        }
        

        > span {
            border-radius: 10px;
            height: 100% !important;
        }
    
    }

    &__tags {
        margin-top: 10px;

        ul {
            padding: 0;
            margin: 0;
            display: flex;
            gap: 10px;

            li {
                background-color: var(--tags-color);
                border-radius: 4px;
                display: block;
                padding: 5px 15px;
                color: $white;
                font-weight: $font-weight--regular;
                @include font-size($font-small);
                transition: all .2s;
            }
        }
    }

    &__description {
        display: flex;

        span {
            font-weight: $font-weight--regular;
            @include font-size($font-small);
            color: var(--main-text-color);
            border-radius: 5px;
            display: block;
            margin: 5px 0 10px;
            line-height: 25px;

            @include media-breakpoint-down(md) {
                @include font-size($font-small)
            }

            &:nth-of-type(1) {
                margin-right: 10px;
            }
        }
    }
}