@import "./base/variables";
@import "./base/typography";
@import "./base/breakpoints";

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--background-color);

    &--light {
        background-color: $light-pink;
        color: var(--background-color) !important;

        svg:last-child {
            stroke: $pleasant-purple !important;
        }
    }
}
