
@import "./base/variables";
@import "./base/typography";

html {
  scroll-behavior: smooth;
}

.entries .main-image img {
  width: 100%;
  display: block;
}

body {
  background-color: $dark-main;
  color: $white;
  font-family: $font-family-primary;
  margin: 0;
}

.light-bg {
  background-color: $light-pink;
}

.container {
  max-width: 100vw;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
