@import "./base/variables";
@import "./base/typography";
@import "./base/breakpoints";

.projectListing {
    margin: 0 auto;
    max-width: 55rem;   
    padding: 165px 15px;

    @include media-breakpoint-down(md) {
        padding: 45px 15px;
    }

    h2 {
        font-weight: $font-weight--semibold;
        font-family: $font-family-secondary;
        margin-bottom: 20px;
        letter-spacing: 1px;
        @include font-size($font-medium);
        position: relative;
        display: flex;
        align-items: center;
        color: $white;

        @include media-breakpoint-down(sm) {
            @include font-size($font-regular);
        }
    }

    section {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 1.75rem;
        gap: 1.75rem;

        @include media-breakpoint-down(sm) {
            grid-template-columns: repeat(1, minmax(0, 1fr));

        }
    }
}
