@import "./base/variables";
@import "./base/typography";
@import "./base/breakpoints";

.footer {
    border-top: 1px solid rgba($white, 0.3);
    padding-top: 105px;
    max-width: 90vw;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    @include media-breakpoint-down(sm) {
        padding-top: 75px;
        padding-bottom: 50px;
    }

    &__icons {
        display: flex;
        justify-content: center;

        ul {
            padding: 0;
            margin: 0;
            display: grid;
            justify-content: center;
            grid-gap: 20px;
            margin-top: 50px;
            grid-template-columns: 0fr 0fr;

            @include media-breakpoint-down(sm) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            li {
                border-radius: 8px;
                border: 2px solid #414141;
                padding: 12px;
                width: 220px;
                list-style-type: none;
                transition: all 0.15s;
                cursor: pointer;

                &:hover {
                    background-color: $pleasant-purple;

                    a > svg {
                        stroke: $white;
                    }

                    div svg {
                        fill: $white;
                    }
                }

                @include media-breakpoint-down(sm) {
                    width: 100%;
                }

                a {
                    text-decoration: none;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    > svg {
                        width: 20px;
                        height: 20px;
                        stroke: #8e8f90;
                        stroke-width: 2;
                    }
                }

                div {
                    display: flex;
                    align-items: center;

                    svg {
                        width: 24px;
                        height: 24px;
                        fill: #8e8f90;
                    }

                    h6 {
                        margin: 0 0 0 15px;
                        color: $white;
                        @include font-size($font-regular);
                        font-weight: $font-weight--regular;
                    }
                }
            }
        }
    }

    > a,
    h3 {
        font-weight: $font-weight--regular;
        @include font-size($font-regular);
        line-height: 20px;
        text-align: center;
        display: block;
        margin: 0;

        color: #d9d9d9;

        @include media-breakpoint-down(sm) {
            @include font-size($font-small);
        }
    }

    h4 {
        font-family: $font-family-secondary;
        font-weight: $font-weight--medium;
        @include font-size($font-xx-large);
        line-height: 48px;
        text-align: center;
        margin: 40px 0;

        color: #fefdf9;

        @include media-breakpoint-down(sm) {
            @include font-size($font-large);
        }
    }

    > div:last-child {
        display: flex;
        justify-content: space-between;
        margin: 105px 0 50px;

        @include media-breakpoint-down(sm) {
            flex-wrap: wrap;
            margin-top: 75px;
            margin-bottom: 0;
            flex-direction: column-reverse;
            align-items: center;
        }

        h6 {
            font-style: normal;
            font-weight: 300;
            @include font-size($font-small);
            line-height: 35px;
            margin: 0;
            /* identical to box height, or 219% */

            color: #c4c4c4;
        }
    }
}
